<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.php"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.php"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.php">Home</a></li>
                            <li class="active"><a href="./shop.html">rent</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.php"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Romance </a>
                        <span>From The Top</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="img/product/details/product-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>From The Top<span>author: Jaqueline Snowe</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">10.9 TND</div>
                        <p>Cami Simpson is the ‘it girl’—at least until a string of terrible decisions leads to no boyfriend, no captainship of the dance team, and no fancy apartment. Due to a mold outbreak at her place, she’s forced to relocate to a co-ed dorm as a senior. And to top it off, she finds out she’s at risk of not graduating due to an error in her schedule. Talk about the worst senior year ever..</p>
                        <div class="product__details__button">
                            <form action="rent.php" method="POST">
                                <div class="size__btn">
                                    <label for="1-day">
                                        <input type="radio" id="1-day" name="duration" value="1" required>
                                        1 day
                                    </label>
                                    <label for="2-days">
                                        <input type="radio" id="2-days" name="duration" value="2">
                                        2 days
                                    </label>
                                    <label for="3-days">
                                        <input type="radio" id="3-days" name="duration" value="3">
                                        3 days
                                    </label>
                                    <label for="4-days">
                                        <input type="radio" id="4-days" name="duration" value="4">
                                        4 days
                                    </label>
                                </div>
                                <button type="submit" name="add_rental" id="rentBtn" class="cart-btn"><span class="icon_bag_alt"></span> Rent</button>
                            </form>
                                                        <ul>
                                                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                                            <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product__details__widget">
                                                        <ul>
                                                            <li>
                                                                <span>Availability:</span>
                                                                In Stock
                                                            </li>
                                                          
                                                            <li>
                                                                <span>rent time:</span>
                                                                <div class="size__btn">
                                                                    <label for="xs-btn" class="active">
                                                                        <input type="radio" id="xs-btn">
                                                                        1 day
                                                                    </label>
                                                                    <label for="s-btn">
                                                                        <input type="radio" id="s-btn">
                                                                        2 days
                                                                    </label>
                                                                    <label for="m-btn">
                                                                        <input type="radio" id="m-btn">
                                                                        3 days
                                                                    </label>
                                                                    <label for="l-btn">
                                                                        <input type="radio" id="l-btn">
                                                                        4 days
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>Cami Simpson is the ‘it girl’—at least until a string of terrible decisions leads to no boyfriend, no captainship of the dance team, and no fancy apartment. Due to a mold outbreak at her place, she’s forced to relocate to a co-ed dorm as a senior. And to top it off, she finds out she’s at risk of not graduating due to an error in her schedule. Talk about the worst senior year ever.
                                </p>
                                <p>Frederick Brady the IV would never admit the massive crush he once had on the dance darling. Not to anyone. They’d almost had a moment a year ago, but she crushed him, so she’s the last person he wants to live next to. It doesn’t matter though. He’s on his way out to an internship and almost done with school where he can leave his heartbreak and data foes behind.

                                    Neither expected to form a friendship or know what to do about their insane chemistry. With late nights, insides jokes, and the rare comfort they find in each other… lines blur, and the popular girl gets with the nerdy guy. Only, Freddie’s done this before and knows how it ends. His insecurities clash with Cami’s need to be picked first, so when Freddie has to choose where to attend his internship, he can either pick the job or the girl. And for the guy who’s set on protecting his heart, well, he might break hers in the process.</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Gneres</h6>
                                <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Romance</span></a>
                                    <span class="Button__labelItem"></span> </a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Sports Romance</span></a>
                                    <span class="Button__labelItem"></span>   </a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Sports</span></a>                               
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Hockey</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">College</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Contemporary</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">New Adult</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Contemporary Romance</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Adult</span>
                                    <span class="Button__labelItem"></span></a><br>
                                    <a href="" class="Button Button--tag-inline Button--medium"><span class="Button__labelItem">Fiction</span>
                                    <span class="Button__labelItem"></span>.</a><br>
                                
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>The heroine complaining about not being taken seriously while wearing the sluttiest outfits possible everywhere was eye-roll inducing. The author describes the heroine as barely wearing a top that could qualify as a bra to a party and skin tight booty shorts. That kind of outfit isn't even cute. It would've been nice if the author gave the heroine a better sense of style. I get why the heroine liked to show off her body, but there are still cuter outfits she could've wore that would've done that.</p>
                                <p>The author described the MMC as going 'feral' in bed and I didn't feel that, but the potential was there. I think the author could've kept the MMC respectful, sweet, but had him throw down in bed more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.php"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>